/* 
==============================
            Sidebar
==============================
*/

.icon {
  margin-left: 20px;
  margin-right: 20px;
}

.outliner {
  border: 1px solid black;
}

.studentBar {
  max-width: 250px; 
}

.questionArea {
  margin-top: 150px;
}

.status {
  float: right;
}




@import url(http://fonts.googleapis.com/css?family=Roboto);

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
}


